/* swap css */
.maindivofswap {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
  padding: 1.8rem 1rem;
  /* border: 0.5px solid white; */
}
.gaspricediv{
  width: 100%;
  display: flex;
  color: white ;
  justify-content: flex-end;
}
.clockdiv{
  width: 100%;
  display: flex;
  color: white ;
  justify-content: flex-start;
}

.gasicon{
  /* margin-right: 35px;
  margin-top: 10px; */
color: white;
}

.inputswapbtndiv{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.usdethamountdiv{
  display: flex;
  flex-direction: row;
}
.outputusdd{
  display: flex;
    color: #cfb3b3;
    margin-top: -13px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.inputtronaddress{
  background-color: transparent;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
}

.clockicon{
  /* margin-left: 35px;
  margin-top: 10px; */
color: white;
}
.disabledToken:hover {
  cursor: no-drop;
}
.disabledToken {
  cursor: not-allowed;
  opacity: 0.5;
}

.tofromdiv {
  border: 1px solid white;
  /* margin: 15px 5px; */
  border-radius: 10px;
}

.divimagemsgnotfound {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swapButton:hover {
  cursor: pointer;
  /* opacity: 0.5; */
}

.swapButton {
  /* border: 1px solid white; */
  border: none;
  background-color: transparent;
  font-size: 15px;
  border-radius: 25px;
  color: white;
}

.closemodalbtn:hover {
  cursor: pointer;
  opacity: 0.5;
  margin: 0px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.rotates {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.rotateClockwise {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.clearbtn:hover {
  cursor: pointer;
  background-color: #924afc;
  color: white;
}
.divtokenheadclear {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.clearbtn {
  border: 1px solid #924afc;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}
.FromToMain {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 13px;
}
.swapCurrencyInput {
  display: flex;
  flex-flow: column;
  position: relative;
  border-radius: 20px;
  background-color: transparent;
  z-index: 1;
}
.FromMain {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: transparent;
}
.FromBal {
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}
.FromBalFlex {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.From {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.Balance {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.swapInput {
  color: white;
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 0px;
  appearance: textfield;
}
#swapMaxbtn {
  height: 28px;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.4rem;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 0.5rem;
  color: #924afc;
}
#swapMaxbtn:hover {
  opacity: 0.8;
}
.TokenMain {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 8px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
/* .TokenMain:hover {
  background-color: white;
  color: rgb(146, 74, 252);
} */

.TokenSpanMain {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.TokenSpanMain img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}
/* .tokenName {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
} */
.FromInputMain {
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}

.selectedToken {
  /* Add styles to change the color */
  background-color: #ccc; /* Example color */
  /* Add styles to make it unclickable */
  pointer-events: none;
}

.searchinputintoken {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 20px 0px;
  padding: 5px;
}

.tokenlistingdiv {
  overflow-y: scroll;
  height: 400px;
}

.maxsoldtnxfeesdiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
/*  */
.maxsoldtnxfeesdivsub {
  display: flex;
  background: transparent;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  justify-content: space-around;
}

.maxtnxdiv {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px;
  color: white;
  border-radius: 7px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.lableinswap {
  font-weight: 700;
  font-size: 15px;
  padding: 2px;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tooltipText {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  width: 200px;
  background-color: white;
  color: rgb(146, 74, 252);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 8px 10px;
  padding: 5px;
}

.lableinswap:hover .tooltipText {
  visibility: visible;
}
.left {
  top: -8px;
  right: 120%;
}
.right {
  top: -8px;
  left: 120%;
}
.valueinswap {
  font-size: 14px;
  padding: 5px;
}

.modalouterdiv {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(146, 74, 252);
  background: white;
  width: 50vw;
  color: white;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
  max-width: 500px;
  max-height: 90vh;
  min-height: 80vh;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

#srchbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdownouter {
  height: 532px;
  width: 100%;
  overflow: auto;
  will-change: transform;
  direction: ltr;
  scrollbar-color: white rgb(19, 17, 24);
  scrollbar-width: thin;
  width: 100%;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
}

.alldatatokendiv:hover {
  background-color: rgba(0, 0, 0, 0.088);
  cursor: pointer;
}
.alldatatokendiv {
  padding: 15px;
  color: black;
  margin: 5px 0px;
  border: 1px solid #8080804d;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 8px 10px;
  justify-content: space-between;
}

.balanceaddressdiv {
  text-align: end;
}
.tokenbalanceinmodal {
  font-size: 13px;
}

.tokenaddressinmodal {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.networkandtoken {
  display: flex;
}

.networkdiv:hover {
  background-color: #0000002d;

  cursor: pointer;
}
.networkdiv {
  border-bottom: 1px solid #0000006b;
  display: flex;
  padding: 5px;
  margin: 5px;
}

.divnetwokr {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.362);
  height: 100%;
  padding: 5px;
  border-radius: 10px;
}

.h3inmodal{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tokendiv {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.362);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 250px;
  padding: 10px 20px;
  border-radius: 10px;
}

.tokenaddressname:hover {
  cursor: pointer;
  background-color: #0000002d;
}
.tokenaddressname {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #0000006b;
  width: 100%;
  padding: 5px;
  font-size: 13px;
}
