/* swap css */
.maindivofswap {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
  padding: 1.8rem 1rem;
  /* border: 0.5px solid white; */
}

.tofromdiv{
  border: 1px solid white;
  /* margin: 15px 5px; */
  border-radius: 10px;
}

.swapButton:hover{
  cursor: pointer;
  /* opacity: 0.5; */
}
.swapButton{
  /* border: 1px solid white; */
  border: none;
  background-color: transparent;
  font-size: 15px;
  border-radius: 25px;
  color: white;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  
}

.rotateClockwise {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Add transition for smooth rotation */
}

.FromToMain {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 13px;
}
.swapCurrencyInput {
  display: flex;
  flex-flow: column;
  position: relative;
  border-radius: 20px;
  background-color: transparent;
  z-index: 1;
}
.FromMain {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: transparent;
}
.FromBal {
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}
.FromBalFlex {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.From {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.Balance {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.swapInput {
  color: white;
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: transparent;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 0px;
  appearance: textfield;
}
#swapMaxbtn {
  height: 28px;
  background-color: white;
  border:1px solid white;
  border-radius: 0.4rem;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 0.5rem;
  color: #924afc;
}
#swapMaxbtn:hover{
opacity: 0.8;
}
.TokenMain {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}
.TokenSpanMain {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.TokenSpanMain img {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}
.tokenName {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.FromInputMain {
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}

.selectedToken {
  /* Add styles to change the color */
  background-color: #ccc; /* Example color */
  /* Add styles to make it unclickable */
  pointer-events: none;
}


.searchinputintoken{
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
    padding: 5px;
}

.tokenlistingdiv{
    overflow-y: scroll;
    height: 400px;
}

.modalouterdiv{
  margin: 100px;
  position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

#srchbar{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdownouter{
  height: 38vh;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.215);
}

.alldatatokendiv:hover{
  background-color: rgba(0, 0, 0, 0.088);
  cursor: pointer;
}
.alldatatokendiv{
  padding: 15px;
    display: flex;
    justify-content: space-between;
}

.balanceaddressdiv{
  text-align: end;
}
.tokenbalanceinmodal{
  font-size: 13px;
}

.tokenaddressinmodal{
font-size: 10px;
}